{% comment %}
  Shopify Wishlist
  Usage:
    - Create a new page in the Shopify admin
      - Admin > Online store > Pages > Add page
    - Set the new page's template to: 'page.wishlist'
    - Do NOT remove the `grid-wishlist` attribute
  
  Notes:
  - The grid will be populated with product cards using Javascript
  - Any content inside of the `[grid-wishlist]` element will be completely replaced by the product cards
  
  Tip:
  - Place a loading element inside the `[grid-wishlist]` element and it will automatically be removed once the product cards have loaded
  - Add any liquid code before/after the grid element
{% endcomment %}
<div class="wishlist__grid flex container" grid-wishlist>
    {% comment %} Sample loading element {% endcomment %}
    <p class="wishlist__loader full-width text-center">Loading...</p>
  </div>
<style>
  .wishlist__grid{
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 220px);
    gap: 2rem;
    align-content: center;
    justify-content: center;
  }

  .card-wrapper{
    {% comment %} height:300px; {% endcomment %}
  }

  .card .card--standard .card--media{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

 .card__inner{
    width:100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card__inner.color-background-2.gradient.ratio::before{
    height:0px;
  }

  .card__media{
    width:100%;
    height:300px;

    .media{
      width:100%;
      height: 100%;
    }
  }
</style>

  {% schema %}
    {
      "templates": ["page"]
    }
    
  {% endschema %}